<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Rules for TopWinPrio" Description="Code analysis rules for TopWinPrio.csproj." ToolsVersion="16.0">
  <Rules AnalyzerId="Microsoft.CodeQuality.Analyzers" RuleNamespace="Microsoft.CodeQuality.Analyzers">
    <Rule Id="CA1012" Action="None" />
    <Rule Id="CA1027" Action="None" />
    <Rule Id="CA1031" Action="None" />
    <Rule Id="CA1034" Action="None" />
    <Rule Id="CA1036" Action="None" />
    <Rule Id="CA1052" Action="None" />
    <Rule Id="CA1061" Action="None" />
    <Rule Id="CA1063" Action="None" />
    <Rule Id="CA1066" Action="Warning" />
    <Rule Id="CA1067" Action="Warning" />
    <Rule Id="CA1508" Action="Warning" />
    <Rule Id="CA1509" Action="Warning" />
    <Rule Id="CA1712" Action="None" />
    <Rule Id="CA1802" Action="None" />
    <Rule Id="CA1815" Action="None" />
    <Rule Id="CA1819" Action="None" />
    <Rule Id="CA1822" Action="None" />
    <Rule Id="CA2007" Action="Warning" />
    <Rule Id="CA2217" Action="None" />
    <Rule Id="CA2219" Action="None" />
    <Rule Id="CA2231" Action="None" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeQuality.CSharp.Analyzers" RuleNamespace="Microsoft.CodeQuality.CSharp.Analyzers">
    <Rule Id="CA1032" Action="None" />
    <Rule Id="CA1200" Action="Warning" />
    <Rule Id="CA1821" Action="None" />
  </Rules>
  <Rules AnalyzerId="Microsoft.NetCore.Analyzers" RuleNamespace="Microsoft.NetCore.Analyzers">
    <Rule Id="CA1813" Action="None" />
    <Rule Id="CA1820" Action="None" />
    <Rule Id="CA1826" Action="Warning" />
    <Rule Id="CA2008" Action="Warning" />
    <Rule Id="CA2009" Action="Warning" />
    <Rule Id="CA2101" Action="None" />
    <Rule Id="CA2229" Action="None" />
    <Rule Id="CA2235" Action="None" />
    <Rule Id="CA2237" Action="None" />
    <Rule Id="CA2300" Action="Warning" />
    <Rule Id="CA2301" Action="Warning" />
    <Rule Id="CA2302" Action="Warning" />
    <Rule Id="CA2305" Action="Warning" />
    <Rule Id="CA2310" Action="Warning" />
    <Rule Id="CA2311" Action="Warning" />
    <Rule Id="CA2312" Action="Warning" />
    <Rule Id="CA2315" Action="Warning" />
    <Rule Id="CA2321" Action="Warning" />
    <Rule Id="CA2322" Action="Warning" />
    <Rule Id="CA3001" Action="Warning" />
    <Rule Id="CA3002" Action="Warning" />
    <Rule Id="CA3003" Action="Warning" />
    <Rule Id="CA3004" Action="Warning" />
    <Rule Id="CA3005" Action="Warning" />
    <Rule Id="CA3006" Action="Warning" />
    <Rule Id="CA3007" Action="Warning" />
    <Rule Id="CA3008" Action="Warning" />
    <Rule Id="CA3009" Action="Warning" />
    <Rule Id="CA3010" Action="Warning" />
    <Rule Id="CA3011" Action="Warning" />
    <Rule Id="CA3012" Action="Warning" />
    <Rule Id="CA3061" Action="Warning" />
    <Rule Id="CA5350" Action="Warning" />
    <Rule Id="CA5351" Action="Warning" />
    <Rule Id="CA5358" Action="Warning" />
    <Rule Id="CA5359" Action="Warning" />
    <Rule Id="CA5360" Action="Warning" />
    <Rule Id="CA5361" Action="Warning" />
    <Rule Id="CA5362" Action="Warning" />
    <Rule Id="CA5363" Action="Warning" />
    <Rule Id="CA5364" Action="Warning" />
    <Rule Id="CA5365" Action="Warning" />
    <Rule Id="CA5366" Action="Warning" />
    <Rule Id="CA5367" Action="Warning" />
    <Rule Id="CA5368" Action="Warning" />
    <Rule Id="CA5369" Action="Warning" />
    <Rule Id="CA5370" Action="Warning" />
    <Rule Id="CA5371" Action="Warning" />
    <Rule Id="CA5372" Action="Warning" />
    <Rule Id="CA5373" Action="Warning" />
    <Rule Id="CA5374" Action="Warning" />
    <Rule Id="CA5375" Action="Warning" />
    <Rule Id="CA5376" Action="Warning" />
  </Rules>
  <Rules AnalyzerId="Microsoft.NetCore.CSharp.Analyzers" RuleNamespace="Microsoft.NetCore.CSharp.Analyzers">
    <Rule Id="CA1810" Action="None" />
    <Rule Id="CA2010" Action="Warning" />
    <Rule Id="CA2207" Action="None" />
  </Rules>
  <Rules AnalyzerId="Microsoft.NetFramework.Analyzers" RuleNamespace="Microsoft.NetFramework.Analyzers">
    <Rule Id="CA2153" Action="Warning" />
    <Rule Id="CA3075" Action="Warning" />
  </Rules>
  <Rules AnalyzerId="Microsoft.NetFramework.CSharp.Analyzers" RuleNamespace="Microsoft.NetFramework.CSharp.Analyzers">
    <Rule Id="CA3076" Action="Warning" />
    <Rule Id="CA3077" Action="Warning" />
  </Rules>
</RuleSet>